
<div *ngIf="!isEditing; else editform" [ngClass]="{'checked': todo.checked}">
  <div *ngIf="!isNew">
    <i class="fa fa-fw" 
    [ngClass]="{'fa-check-square-o': todo.checked,  'fa-square-o': !todo.checked}"
    (click)="checkItem(todo)"
    ></i>
    {{todo.title}}
    <i class="fa fa-fw fa-pencil pull-right edit-link" 
      (click)="isEditing=true"
    ></i>
  </div>
  <div *ngIf="isNew">
      <button class="btn btn-primary" (click)="isEditing=true"><i class="fa fa-icon fa-plus"></i> Add New</button>
  </div>
</div>
<ng-template #editform>
  <div class="form-group">
    <input type="text" [(ngModel)]="todo.title" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-info" (click)="saveItem(todo)">
      <i class="fa fa-icon fa-cloud-upload"></i> Save
    </button>
    <i class="fa fa-icon fa-times pull-right" (click)="isEditing=false"></i>
  </div>
</ng-template>