<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <h1>Angular Todo List</h1>
  <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/">Home</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/todos">Todo List</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/about">About Us</a>
        </li>
      </ul>
    </nav>
  <router-outlet></router-outlet>
</div>
